<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button onclick="testStart()">test uygulamasını kontrol et</button>
    <button onclick="testTabletAddress()">test tablet mod</button>
    <button onclick="testFullScreenAddress()">test fullscreen mod</button>

    <script>

        const testStart = () => {
            fetch('http://10.1.11.34:7000/test').then(res =>
                console.log('res: ', res)
             )
        }

        const testTabletAddress = () => {
            fetch('http://10.1.11.34:7000/tablet-test').then(res =>
                console.log('res: ', res)
             )
        }
        const testFullScreenAddress = () => {
            fetch('http://10.1.11.34:7000/fullscreen-test').then(res =>
                console.log('res: ', res)
             )
        }
    </script>
</body>

</html>